$l0: #ffffff;
$l1: #f6f6f6;
$l2: #ededed;
$l3: #e4e4e4;
$l4: #dbdbdb;
$l5: #d2d2d2;
$l6: #cacaca;
$l7: #c1c1c1;
$l8: #b9b9b9;
$l9: #b0b0b0;
$l10: #a8a8a8;
$l11: #9f9f9f;
$l12: #979797;
$l13: #8f8f8f;
$l14: #878787;
$l15: #7f7f7f;
$l16: #777777;
$l17: #6f6f6f;
$l18: #676767;
$l19: #606060;
$l20: #585858;
$l21: #515151;
$l22: #4a4a4a;
$l23: #424242;
$l24: #3b3b3b;
$l25: #343434;
$l26: #2e2e2e;
$l27: #272727;
$l28: #212121;
$l29: #1a1a1a;
$l30: #141414;
$l31: #0b0b0b;
$l32: #000000;

$d0: #000000;
$d1: #0b0b0b;
$d2: #141414;
$d3: #1a1a1a;
$d4: #212121;
$d5: #272727;
$d6: #2e2e2e;
$d7: #343434;
$d8: #3b3b3b;
$d9: #424242;
$d10: #4a4a4a;
$d11: #515151;
$d12: #585858;
$d13: #606060;
$d14: #676767;
$d15: #6f6f6f;
$d16: #777777;
$d17: #7f7f7f;
$d18: #878787;
$d19: #8f8f8f;
$d20: #979797;
$d21: #9f9f9f;
$d22: #a8a8a8;
$d23: #b0b0b0;
$d24: #b9b9b9;
$d25: #c1c1c1;
$d26: #cacaca;
$d27: #d2d2d2;
$d28: #dbdbdb;
$d29: #e4e4e4;
$d30: #ededed;
$d31: #f6f6f6;
$d32: #ffffff;

$lf0: $l32;
$lf1: $l27;
$lf2: $l22;
$lf3: $l17;
$lf4: $l12;
$lf5: $l7;

$lb0: $l0;
$lb1: $l1;
$lb2: $l2;
$lb3: $l3;
$lb4: $l4;
$lb5: $l5;

$df0: $d23;
$df1: $d21;
$df2: $d19;
$df3: $d17;
$df4: $d15;
$df5: $d13;

$db0: $d1;
$db1: $d3;
$db2: $d5;
$db3: $d7;
$db4: $d9;
$db5: $d11;
